@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
       
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-lg {
            column-gap: 1.5em;
            column-count: 2;
        }
        .mv{
            column-gap: 1.5em;
            column-count: 3;
        }

        .break-inside {
            break-inside: avoid;
        }

    }
}